<!DOCTYPE html>
<html>
<head>
  <title>ComputerDar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= "container body_container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid main_nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>        
          <div id="brand_box">
            <%= image_tag "computerDar_Comp.png",:class => "logo" %>
            <%= link_to 'COMPUTER D.A.R', root_path, :class => 'brand',:id=>"sub_title" %>            
          </div>
        </div>
        <div class="collapse navbar-collapse navbar-right " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav nav-links " id="nav-links">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Services', services_path %></li>
            <li><%= link_to 'Products and Sales', sale_items_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
            <% if current_user %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </div>
</body>
</html>
